
/* eslint css/use-baseline: "off" */

@config 'tailwind.config.js';
@plugin 'tailwindcss/typography';

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-500 text-white dark:text-black;
  }
}

@layer utilities {
  .custom-utility {
    @apply border border-gray-300;
  }
}

@theme {
  --color-*: initial;
  --primary: #ff0000;
}

.my-element {
    background: white;

    @variant dark {
        background: black;
    }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant theme-midnight {
  &:where([data-theme="midnight"] *) {
    @slot;
  }
}

@custom-variant theme-midnight (&:where([data-theme="midnight"] *));

@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@source "../node_modules/@my-company/ui-lib";

@source inline("{hover:,}bg-red-{50,{100..900..100},950}");

@source not inline('container');

@reference "tailwindcss";

.my-element {
  --color-lime-300: #d9f99d;
  color: --alpha(var(--color-lime-300) / 50%);
}

.my-element {
  margin: --spacing(4);
}

.my-element {
  margin: theme(spacing.12);
}
